@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 4%;

  --secondary: 240 5% 96%;
  --secondary-foreground: 240 6% 10%;

  --muted: 240 5% 96%;
  --muted-foreground: 240 4% 46%;

  --accent: 161 94% 30%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --border: 255 100% 96%;

  --nav-height: 4.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  line-height: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	cursor: pointer;
	outline: inherit;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.button:hover {
  opacity: 0.85;
}

.button[variant="primary"] {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.button[variant="secondary"] {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

.button[variant="muted"] {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}

.button[variant="destructive"] {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
}
